.teste{
    background: red;
}
.teste-2{
    background: blue;
}

.bg-main{
    background: url('../material/bg-main.png') center center;
    background-size: cover;
    height: 100vh;
}
img{
    display: block;
    box-sizing: border-box;
    width: 100%;
} 
.nav-link{
    color: $cor-secundaria; 
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: none;
    /*podia ter feito um mixin, mas estava conflitando com o de subtítulo...vai entender*/

}

.nav-link:hover{
    color: $cor-principal!important;  
    transition: ease-out .4s;
}
button{
    border: none!important;
}
.menu-navegacao{
    text-align: center;
}

