$cor-principal: #41ceb3;
$cor-secundaria:#444b54;

@mixin titulo(){
    font-family: 'Dosis', sans-serif;
    size: 2.5em;
    text-align: center;
    font-weight: 600;
    letter-spacing: 5.6px;
    color: $cor-secundaria;
    text-transform: uppercase;
}
@mixin subtitulo(){
    font-family: 'Dosis', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: $cor-principal;
    margin-right: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
@mixin texto(){
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    line-height: 1.75;
    letter-spacing: 1px;
    text-align: left;
    color: $cor-secundaria;
}
@mixin btn-principal {
    background: $cor-principal;
    font-family: 'Dosis', sans-serif;
    letter-spacing: .2em;
    padding: 10px 30px;
    color: #fff;
    text-transform: capitalize;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-decoration: none!important;
}
